body {
  font-family: 'Rubik', sans-serif;
}

p {
  font-size: 18px;
}

a {
  color: #0066b7;
}

a:focus, a:hover {
  text-decoration: none;
  color: #FF5722;
}

.jumbotron {
  margin-bottom: 10px;
  background-color: #FF5722;
  color: white;
}

.jumbotronPages {
  background-color: #0066b7;
}

.divLinkHeader {
  padding: 20px 15px;
}

.linkHeader {
  padding: 5px;
}

.corAtencao {
  color: #FF5722;
}

.homeAniF1.start{
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
  -moz-animation: fadein 3s;
  -o-animation: fadein 3s;
}

.homeAniF2.start{
  animation: fadein 4s;
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -o-animation: fadein 4s;
}

.imageAni {
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -o-animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari e Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
