<html>
  <body>
    <div class="jumbotron text-center">
      <h1>Owl e-Cup!</h1>
      <!--<h4>Kappa</h4>-->
      <h4>A maior Copa Universitária de e-Sports da região serrana.</h4>
    </div>
    <div class="col-xs-12 text-center">
      <img class="imageAni" src="./app/images/logo.gif" width="220" height="220">
      <h1>"It's Show Time!"</h1>
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h4>A primeira edição da Copa que reune as maiores lendas do Curso de Ciência da Computação e dos estudantes da UNIFESO irá começar. Será que você consegue chegar<strong> ao topo?</strong></h4>
        <p>Ficou interessado? Clique aqui e descubra mais!</p>
      </div>
    </div>
  </body>
</html>
