<html>
  <body>
    <div class="jumbotron text-center">
      <h1>Owl e-Cup!</h1>
      <!--<h4>Kappa</h4>-->
      <h4>A maior Copa Universitária de e-Sports do UNIFESO</h4>
    </div>
    <div class="col-xs-12 text-center">
      <img class="imageAni hidden-xs" src="./app/images/logo.png">
      <img class="imageAni visible-xs" src="./app/images/logo.png" height="320px" width="320px">
      <h1>"It's Show Time!"</h1>
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p>A primeira season da Copa que reune as maiores lendas do UNIFESO irá começar. Será que você consegue chegar<strong class="corAtencao"> ao topo?</strong></p>
        <hr>
          <div class="homeAniF1">
            <p>Os campeonatos se aproximam! Acesse as tabelas e jogos <a href="https://battlefy.com/owl-e-cup" target="_blank">aqui</a> e saiba as datas a seguir:</p>
              <h2><p>Hearthstone:</p> Dia <strong class="corAtencao">11/10</strong>, a partir das <strong class="corAtencao">16 horas!</strong></h2>
              <h2><p>League of Legends:</p> Dia <strong class="corAtencao">18/10</strong>, a partir das <strong class="corAtencao">16 horas!</strong></h2>
          </div>
        <hr>
          <div>
            <h2>Transmissão ao vivo!</h2>
              <p>Os games serão transmitidos ao vivo pela <a href="https://twitch.tv/katreque" target="_blank">Twitch TV</a>, com narração de Renan "Katreque" Souza.</p>
          </div>
        <hr>
          <div>
            <h2>Curta nossa Page no Facebook!</h2>
            <div class="fb-page" data-href="https://www.facebook.com/owlecup" data-tabs="timeline" data-width="900" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/owlecup" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/owlecup">Owl e-Cup</a></blockquote></div>
          </div>
        <hr>
          <div class="homeAniF2">
            <h2>Apoio</h2>
            <img style="padding-right: 10px;" src="./app/images/unifeso.png" height="70px" width="210px">
            <img src="./app/images/LogoSemFundo.png" height="70px" width="70px">
          </div>
        <hr>
      </div>
    </div>
  </body>
</html>
