<html>
  <body>
    <div class="jumbotron text-center">
      <h1>Owl e-Cup!</h1>
      <!--<h4>Kappa</h4>-->
      <h4>A maior Copa Universitária de e-Sports da região serrana</h4>
    </div>
    <div class="col-xs-12 text-center">
      <img class="imageAni hidden-xs" src="./app/images/logo.png">
      <img class="imageAni visible-xs" src="./app/images/logo.png" height="320px" width="320px">
      <h1>"It's Show Time!"</h1>
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <p>A primeira season da Copa que reune as maiores lendas do UNIFESO irá começar. Será que você consegue chegar<strong class="corAtencao"> ao topo?</strong></p>
        <hr>
          <p>Com os modos de jogo Padrão e 1x1, teremos 3 games nesta temporada:</p>
            <h2 class="corAtencao">League of Legends</h2>
            <h2 class="corAtencao">Overwatch</h2>
            <h2 class="corAtencao">Hearthstone</h2>
        <hr>
          <div class="homeAniF1">
            <h1>Quer fazer parte de nossa equipe de Streamers?</h1>
              <p>Você é streamer ou tem vontade de ser? Entre em contato conosco para descobrir como fazer parte do nosso time e transmitir as partidas da Owl e-Cup.</p>
          </div>
        <hr>
          <div class="homeAniF2">
            <p>Ficou interessado? Leia as <a href="#" ng-click="homeCtrl.regras()">regras</a> e <a href="#" ng-click="homeCtrl.participar()">participe!</a></p>
            <h2>Inscrições até dia <strong class="corAtencao">XX/10!</strong></h2>
          </div>
      </div>
    </div>
  </body>
</html>
