<body>
  <div class="jumbotron jumbotronPages text-center">
    <h1>Participe!</h1>
    <h4>Escolha o jogo e categoria no qual deseja jogar e preencha o formulário</h4>
  </div>
  <div class="col-md-12 text-center">
    <p>Seguem os formulários para inscrição de cada modo. Escolha as que desejar, preencha e participe!</p>
    <h1>League of Legends</h1>
      <a href="#"><h3>Padrão</h3></a>
      <a href="#"><h3>1x1</h3></a>
    <hr>
    <h1>Hearthstone</h1>
      <a href="#"><h3>Padrão</h3></a>
  </div>
</body>
