<body>
  <div class="jumbotron jumbotronPages text-center">
    <h1>Regras!</h1>
    <h4>Leia atentamente antes de participar</h4>
  </div>
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Games e Modos</h1>
      <p>Esta primeira season da Owl e-Cup está trazendo três games: <strong class="corAtencao">League of Legends, Overwatch e Hearthstone</strong>. Com excessão do Hearthstone, todos os games terão duas modalidades: O modo Padrão e o 1x1.</p>
      <p>O modo <strong class="corAtencao">Padrão</strong> será o formato competitivo comumente adotado em cada game, sendo formado por times. O <strong class="corAtencao">1x1</strong> é o modo todos contra todos, no qual cada participante joga sozinho em busca da vitória.</p>
    <hr>
    <h1>Como irá funcionar</h1>
      <p>Todos os games serão online e baseados em um sistema de <strong class="corAtencao">duas</strong> fases.</p>
      <p>A primeira é composta pela <strong class="corAtencao">fase de grupos</strong> por pontos corridos. Nessa fase, as disputas serão feitas no formato md2* que assegura dois pontos para o lado com duas vitórias, um ponto para caso de empate e zero pontos para o lado com duas derrotas. No caso de empate de pontos ao final da fase, será disputada uma md3* para decidir quem deve se manter a frente.</p>
      <p> A segunda fase é o <strong class="corAtencao">mata-mata</strong>, no qual os melhores da fase de grupos serão ajustados em chaves e os vencedores de cada confronto avançarão até chegarem nas finais. As partidas dessa fase serão no modelo md3* e exclusivamente a final será uma md5*.</p>
        <span>mdN* = Melhor de N jogos</span>
    <hr>
    <h1>Quem poderá participar</h1>
      <p>Os modos serão abertos <strong class="corAtencao">para toda a UNIFESO</strong>, seja o participante do corpo discente, docente ou administrativo. Os integrantes de cada time devem atender a esta regra, no qual não é possível inscrever participantes de fora da Instituição.</p>
    <hr>
    <h1>Taxa de Participação</h1>
      <p>Será cobrada uma taxa de <strong class="corAtencao">5 reais</strong> por pessoa para participação em ambos os modos. Esse valor será todo revertido na premiação dos vencedores, já que todos os outros gastos estão sendo supridos de forma voluntária.</p>
  </div>
</body>
