<body>
  <div class="jumbotron jumbotronPages text-center">
    <h1>Regras!</h1>
    <h4>Tire todas as suas dúvidas sobre a Owl e-Cup aqui</h4>
  </div>
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1>Games e Modos</h1>
      <p>Esta primeira season da Owl e-Cup está trazendo dois games: <strong class="corAtencao">League of Legends e Hearthstone</strong>. Com excessão do Hearthstone, serão duas modalidades: O modo Padrão e o 1x1.</p>
      <p>O modo <strong class="corAtencao">Padrão</strong> será o formato competitivo comumente adotado no game, sendo formado por times. O <strong class="corAtencao">1x1</strong> é o modo todos contra todos, no qual cada participante joga sozinho em busca da vitória.</p>
    <hr>
    <h1>Quem poderá participar</h1>
      <p>Os modos serão abertos <strong class="corAtencao">para toda a UNIFESO</strong>. Os integrantes de cada time devem atender a esta regra, no qual não é possível inscrever participantes de fora da Instituição.</p>
    <hr>
    <h1>Como irá funcionar</h1>
      <p>Todos os games serão online e baseados em um sistema de <strong class="corAtencao">duas</strong> fases: fase de grupos e o mata-mata.</p>
        <h3 class="corAtencao">League of Legends</h3>
          <p>A primeira é composta pela <strong class="corAtencao">fase de grupos</strong> por pontos corridos. Nessa fase, as disputas serão feitas no formato md2* que assegura dois pontos para o lado com duas vitórias, um ponto para caso de empate e zero pontos para o lado com duas derrotas. No caso de empate de pontos ao final da fase, será disputada uma md3* para decidir quem deve se manter a frente.</p>
          <p> A segunda fase é o <strong class="corAtencao">mata-mata</strong>, no qual os melhores da fase de grupos serão ajustados em chaves e os vencedores de cada confronto avançarão até chegarem nas finais. As partidas dessa fase serão no modelo md3* e exclusivamente a final será uma md5*.</p>
        <h3 class="corAtencao">Hearthstone</h3>
          <p>A primeira será a <strong class="corAtencao">fase de grupos</strong> por pontos corridos. As disputas serão uma md5* utilizando o formato Conquista: Cada jogador deverá ter 5 decks, no qual 1 será banido pelo adversário. Uma vez que um deck vence uma das partidas, ele não poderá ser utilizado novamente nesta partida. Vence o jogador que vencer 3 partidas primeiro.</p>
          <p> A segunda fase é o <strong class="corAtencao">mata-mata</strong>, no qual os melhores da fase de grupos serão ajustados em chaves e os vencedores de cada confronto avançarão até chegarem nas finais. As partidas dessa fase serão no mesmo modelo explicado acima.</p>
        <span>mdN* = Melhor de N jogos</span>
    <hr>
    <h1>Como funciona o modo 1x1?</h1>
      <p>Para o modo <strong class="corAtencao">1x1</strong>, as regras de pontuação são as mesmas do modo padrão. As partidas serão disputadas em Summoners Rift apenas na mid lane. As condições de vitória são: eliminar o inimigo, chegar a 100 de farm ou quebrar a torre T1 do mid. Aquele que comprir um desses quesitos primeiro, ganha a partida.</p>
    <hr>
    <h1>Como se inscrever?</h1>
      <p>Na página de <strong class="corAtencao"><a href="/participar">participação</a></strong>, o capitão de seu time (ou você mesmo, dependendo do modo) preencherá um formulário de inscrição com as informações necessárias para prosseguir. Com a inscrição e pagamento confirmados, você receberá um email com sua chave de acesso para o campeonato e poderá jogar.</p>
    <hr>
    <h1>Reservas</h1>
      <p>Cada time poderá ter até <strong class="corAtencao">um reserva (opcional)</strong>, além dos títulares. Caso houver necessidade de substituição antes de uma partida, deverá ser informado a organização com no mínimo 15 minutos antes da partida, no qual a informação será repassada para o time adversário. O não comprimento da regra cria a oportunidade do time adversário decidir continuar com a partida ou vencer por WO.</p>
    <hr>
    <h1>Check-in</h1>
      <p>Deve ser feito com no mínimo 15 minutos de antecedencia em relação ao horário da partida no TeamSpeak 3 oficial da Owl e-Cup (amefuriblog.tsclan.com.br). O capitão deve estar presente, não obrigatoriamente com o restante dos integrantes do time. Os participantes podem optar por utiliza-lo durante o jogo para se comunicar ou apenas para fazer o check-in antes da partida. O não comprimento do check-in no tempo previsto dá a vitória para o time adversário.</p>
    <hr>
    <h1>Taxa de Participação</h1>
      <p>Será cobrada uma taxa de <strong class="corAtencao">5 reais</strong> por pessoa para cada modo. Esse valor será todo revertido na premiação dos vencedores, já que todos os outros gastos estão sendo supridos de forma voluntária por nossos apoiadores.</p>
      <hr>
    <h1>Premiação</h1>
      <p>O vencedor de cada modo levará para casa um <strong class="corAtencao">troféu personalizado</strong>, medalhas e o título da Campeão da Season One da Owl e-Cup.</p>
  </div>
</body>
